<div class="price selling" itemprop="price" content="<%= @product.price_in(current_currency).amount.to_d %>">
  <%# start override %>
  <div class="d-flex flex-wrap justify-content-between">
    <div class="product-component-price"><%= @product.price_in(current_currency).price %> <i class="fas fa-coins"></i> <%= Spree.t('product_page.per_month') %></div>
    <% if @product.reviews.approved.count > 0 %>
      <div class="product-component-price"><%= @product.stars %> <i class="fas fa-star"></i></div>
    <% end %>
    <div class="product-component-price"><%= @product.inventory_relationships.count %> <i class="fas fa-users"></i></div>
  </div>
  <%# end override %>
</div>