<% url = spree.product_path(product, taxon_id: @taxon&.id) %>
<%= link_to url, class: 'h-100 d-flex flex-column justify-content-between' do %>
  <% cache [common_product_cache_keys, product] do %>
    <%= plp_and_carousel_image(product, image_class) %>
    <div>
      <div class="product-component-name" title="<%= product.name %>">
        <%= product.name %>
      </div>
      <%# start override %>
      <div class="d-flex flex-wrap">
        <div class="product-component-price"><%= product.price_in(current_currency).price %> <i class="fas fa-coins"></i></div>
        <% if product.reviews.approved.count > 0 %>
          <div class="product-component-price ml-4"><%= product.stars %> <i class="fas fa-star"></i></div>
        <% end %>
      </div>
      <%# end override %>
    </div>
  <% end %>
<% end %>
